In [2]:
!git clone https://github.com/emilymacris/wrangling.git

Cloning into 'wrangling'...
remote: Enumerating objects: 96, done.
remote: Counting objects: 100% (56/56), done.
remote: Compressing objects: 100% (38/38), done.
remote: Total 96 (delta 43), reused 18 (delta 18), pack-reused 40 (from 1)
Receiving objects: 100% (96/96), 18.09 MiB | 6.03 MiB/s, done.
Resolving deltas: 100% (44/44), done.
Updating files: 100% (21/21), done.

# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, itâ€™s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df_1 = pd.read_csv('./wrangling/assignment/data/airbnb_hw.csv')
df_1.head(10)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0
5,1039,7/25/2008,Big Greenpoint 1BD w/ Skyline View,Brooklyn,Apartment,100.0,Entire home/apt,11222.0,1.0,1,4,149,100.0
6,1783,8/12/2008,Amazing Also,Manhattan,Apartment,100.0,Entire home/apt,10004.0,1.0,1,9,250,100.0
7,2078,8/15/2008,"Colorful, quiet, & near the subway!",Brooklyn,Apartment,90.0,Private room,11201.0,1.0,1,80,90,94.0
8,2339,8/20/2008,East Village Cocoon: 2 Bedroom Flat,Manhattan,Apartment,90.0,Entire home/apt,10009.0,2.0,1,95,270,90.0
9,2339,8/20/2008,Lovely 2 Bedroom East Village Nest,Manhattan,Apartment,95.0,Entire home/apt,10009.0,2.0,1,23,290,96.0

In [20]:

# Converted 'Price' to string type so that we can clean i
df_1['Price'] = df_1['Price'].astype(str)

# Removed any non-numeric characters and convert the type of the Pricecolumn to float
df_1['Price'] = df_1['Price'].str.replace('[^\d.]', '', regex=True)

In [21]:
# coerced the column to being numeric
df_1['Price'] = pd.to_numeric(df_1['Price'], errors='coerce')

# Create a missing value dummy variable
df_1['price_nan'] = df_1['Price'].isnull().astype(int)

# Checked for any missing values after we cleaned the Price column
total_missing = df_1['price_nan'].sum()

print(total_missing)

0

QUESTION #2,
1. ANSWER:
I cleaned the Price variable in the airbnb_hw.csv dataset by first converting it to a string to remove non-numeric characters like dollar signs and commas. After cleaning, I converted the values to numeric, ensuring that any invalid entries became NaN to maintain data quality. I also created a dummy variable to track missing values.

After the cleaning process, I found 0 missing values. The Price column is now of type float, and the values are correctly formatted for analysis, with prices like "1,112" appearing as 1112.0. This thorough cleaning ensures the data is ready for further exploration.

In [34]:
df_2 = pd.read_csv('./wrangling/assignment/data/sharks.csv')
df_2.head(10)

<ipython-input-34-899a07ae6492>:1: DtypeWarning: Columns (10,17,18,19,20,21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv('./wrangling/assignment/data/sharks.csv')

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020.01.17,17-Jan-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020.01.16,16-Jan-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020.01.13,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,2020.01.12,12-Jan-2020,2020.0,Unprovoked,THAILAND,Phang Nga Province,Nang Thong Beach,Swimming,Hans-Peter Malten,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,2020.01.07,07-Jan-2020,2020.0,Unprovoked,AUSTRALIA,Queensland,North West Island,Swimming,Miah Holmes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,2020.01.05,05-Jan-2020,2020.0,Unprovoked,AUSTRALIA,Western Australia,Cull Island / Esperance,Scuba diving,Gary Johnson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,2020.01.03,03-Jan-2020,2020.0,Unprovoked,NEW CALEDONIA,NaN,Calana,NaN,Peter ___,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,2020.01.02,02-Jan-2020,2020.0,Questionable,AUSTRALIA,Western Australia,Esperance,Swimming after being swept off rocks,Eric Birighitti,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# View the unique values in the 'Type' column

unique_types = df_2['Type'].unique()
print(unique_types)

['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Unconfirmed'
 'Unverified' 'Invalid' 'Under investigation' 'Boating' 'Sea Disaster' nan
 'Boat' 'Boatomg']

In [36]:
# Clean the 'Type' variable
df_2['Type'] = df_2['Type'].str.strip()  # Remove leading/trailing whitespace
df_2['Type'] = df_2['Type'].str.lower()  # Convert to lowercase for consistency
df_2['Type'] = df_2['Type'].str.replace(' ', '_')  # Replace spaces with underscores

# Replace missing values with NaN if needed
df_2['Type'] = df_2['Type'].replace(['', 'nan', 'NaN'], np.nan)

In [40]:
# Further cleaning can be done based on specific requirements, such as grouping similar types together.
# For example:
df_2['Type'] = df_2['Type'].replace(['boat', 'boating', 'Boat', 'Boating', 'boatomg', 'watercraft'], 'boat_related')

# Check the unique values after cleaning
cleaned_unique_types = df_2['Type'].unique()
print(cleaned_unique_types)

['unprovoked' 'provoked' 'questionable' 'boat_related' 'unconfirmed'
 'unverified' 'invalid' 'under_investigation' 'sea_disaster' nan]

In [41]:
# changed all values for Type that arent unprovoked, provoked, or boat_related to 'unverified'

df_2['Type'] = np.where(df_2['Type'].isin(['unprovoked', 'provoked', 'boat_related']), df_2['Type'], 'unverified')

In [42]:
cleaned_unique_types = df_2['Type'].unique()
print(cleaned_unique_types)

['unprovoked' 'provoked' 'unverified' 'boat_related']

Question #2
2. I cleaned the 'Type' variable in the sharks.csv dataset by first removing leading and trailing whitespaces and converting all entries to lowercase for ease. Then I replaced spaces with underscores to handle multi-word entries.
I grouped together all boating related types under'boat_related'. I then categorized all remaining types as 'unverified' to simplify the categories to make  only four unique values for type: 'unprovoked', 'provoked', 'boat_related', and 'unverified'.

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?

1. f